<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="with-bg">
<div class="container">
    <h1>Create a Room</h1>
    <form id="createRoomForm">
        <input type="text" id="roomName" placeholder="Room Name" required>
        <input type="text" id="creatorName" placeholder="Your Name" required>
        <input type="password" id="roomPassword" placeholder="Optional: Room Password">
        <button type="submit" class="round-btn">Create Room</button>
    </form>
</div>
<script src="/js/create.js"></script>
</body>
</html>
