<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Room</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="with-bg">
<div class="container" data-room-id="{{ .RoomID }}">
    <h1>Join Room</h1>
    <p>Room ID: {{ .RoomID }}</p>
    <form id="joinRoomForm">
        <input type="text" id="userName" placeholder="Your Name" required>
        <input type="password" id="roomPassword" placeholder="Room Password (if required)">
        <button type="submit" class="round-btn">Join Room</button>
    </form>
</div>
<script src="/js/join.js"></script>
</body>
</html>
